
*{

    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 243, 245);
}

.form-signin, .signup-pallete {
    width: 100%;
    max-width: 420px;
    padding: 20px 60px;
    margin: 15px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
       
}

.form-login, .login-pallete{
    width: 100%;
    max-width: 400px;
    padding: 20px 60px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(65, 48, 48, 0.2);
       
}
.btn{
    width: 100%;
}
.mobile-img{
    
    z-index: 1;
}
.slider-img{
    position:absolute;
    top: 110px;
    left: 318px;
    z-index: 2;
}
.greet{
  
    font-size: 15px;
    color: rgb(190, 188, 188);
    margin: 15px;
}

a{
    text-decoration: none;
}
.btn{
    background-color: rgb(56, 153, 233);
}
.errorlist{
    list-style: none;

}
.apps-pallete{
    width: 100%;
    max-width: 400px;
    padding: 20px 70px;
   
  
       
}