{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<!--This shows users top posts which is most liked -->
<main role="main" class="container">

  <div class="user-profile my-5">

    <div class="row px-5">
   
     
    </div>

    <div class="add-post row">
      <span></span>
      <ul>
        <div class="col-5 offset-1">
          <li> <a class="post-btn" href=""> <b>Top Post</b></a>

            <div class="photo-box">

              {% if request.user.posts_count != 0 %}
              {% for post in all_posts %}



              <div class="card m-2" style="width: 20rem;">
                <a href="{% url 'post_detail_view' post.pk %}"> <img class="card-img-top" src="{{post.image.url}}"
                    alt="user_post"> </a>
                <div class="card-body">

                  <p class="card-text text-center">
                    <i class="far fa-heart fa-sm ms-1"></i> {{post.likes_count}}
                    <i class="far fa-comment fa-sm ms-1"></i> {{post.comments_count}}
                   
                  </p>
                </div>
              </div>


             
              {% endfor %}
              {% else %}

              No post exists!

              {% endif %}

            </div>
          </li>

        </div>
       
      </ul>

    </div>

</main><!-- /.container -->



{% endblock content %}