{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container ">
        <div class=" edit-form my-5">
            <div class="card profile-edit-card">
                <div class="card-header">
                    <p class="m-0 text-center text-secondary fw-bold">Password Reset Complete</p>
                </div>
                <div class="card-body offset-md-2">
              
                    <h3> Congratulations! Your password has been successfully reset!</h3> 
                 <a class="btn btn-success text-center" href="{% url 'home_feed' %}"><i class="fas fa-home fa-lg"></i>Back to Home</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}