<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Insta-Clone | Password Reset</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'authentication/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'authentication/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'authentication/css/core.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<body>
<div class="container">

    <form class="form-signin border rounded" method='POST'>
    {% csrf_token %}
        <div class="logo  text-center">
            
            <img  src="{% static 'authentication/img/logo.png'%}" alt="logo" width="200" height="80">
               
               
                <h4 class="mt-3">Trouble Logging In?</h4>
                <div class="greet fw-bold">Enter your email, phone, or username and we will send you a link to get back into your account.</div>
        </div>
       
          

        <div class="form-label-group my-1">
            <input type="email" id="inputEmail" name="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" placeholder="Email" required autofocus>
          
        </div>
      

        <button class="btn btn-primary fw-bold my-3" type="submit">Send Confirmation Mail</button>
        <hr class="hr-text">
        <p class=" text-center fw-bold"> <a  class="text-primary" href="{% url 'sign_up' %}">Create New Account</a></p>
       
    </form>
    <p class="text-center border rounded signup-pallete fw-bold my-2" ><a href="{% url 'log_in' %}">Back to Login</a></p>
    
    <p class="mt-5 mb-3 fw-bold text-center text-secondary">Made with <i class="fas fa-heartbeat"></i> By Peeus D. &copy; 2021-2022</p>
</div>







    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="{% static 'authentication/js/jquery.js' %}"></script>
    <script src="{% static 'authentication/js/popper.js' %}"></script>
    <script src="{% static 'authentication/js/all.min.css' %}"></script>
    <script src="{% static 'authentication/js/bootstrap.css' %}"></script>

</body>

</html>